@import './index.scss';

.main {
  display: flex;
  min-height: 100vh;

  .left {
    transition: all 0.3s;
    width: 256px;
    background: #001529;
    flex: 0 0 auto;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    z-index: 1;
    &.collapsed {
      width: 80px;
    }

    .top {
      height: 64px;
      color: #fff;
      font-size: 20px;
      display: flex;
      justify-content: left;
      align-items: center;
      background: url('./assets/logo.svg') 14px center no-repeat;
      background-size: 50px 36px;
      padding-left: 70px;
    }
  }

  .right {
    width: 100%;
    flex: 1 1 auto;

    .top {
      height: 64px;
      background: #fff;
      box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
      padding: $gap;
      display: flex;
      align-items: center;

      .spacer {
        width: 100%;
      }
    }

    .content {
      padding: $gap * 2;
      background-color: #f0f2f5;
      min-height: calc(100% - 64px);
    }
  }
}
